{% extends 'base.html' %}
{% load static %}
{% block main-content %}
<section class="picktext">
    <div class="picktext__all">
        <div class="picktext__header">
            <form>
                <input class="picktext__search" type="text" id="search" name="search" placeholder="検索" onkeypress="return searchOnEnter(event)">
            </form>
            <ul class="picktext__ul">
                <!-- この部分に人気順、最近のURL記述 -->
                <li class="picktext__li"><a href="">人気順</a></li>
                <li class="picktext__li"><a href="">最近</a></li>
            </ul>
        </div>
        <div class="picktext__inner">
            <div class="picktext__container">
                {% block main-talk-post %}
                {% endblock main-talk-post %}
            </div>
        </div>

    </div>
    <div class="picktext__create">
        <button class="picktext__btn">
            {% block main-create %}
            {% endblock main-create %}
        </button>

        <button class="picktext__add">
            {% block main-create2 %}
            {% endblock main-create2 %}
        </button>

    </div>
</section>
{% endblock main-content %}