{% extends 'base.html' %}
{% load static %}

{% block hero %}
<div class="hero">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="hero__title">IoT</div>
          <img src="{% static 'images/image-1.jpg' %}" alt="" />
        </div>
        <div class="swiper-slide">
          <div class="hero__title">AI</div>
          <img src="{% static 'images/image-2.jpg' %}" alt="" />
        </div>
        <div class="swiper-slide">
          <div class="hero__title">Python</div>
          <img src="{% static 'images/image-3.jpg' %}" alt="" />
        </div>
      </div>
      <div class="hero__footer">
        <img class="hero__downarrow" src="{% static 'images/arrow.svg' %}" />
        <span class="hero__scrolltext">scroll</span>
      </div>
    </div>
  </div>
{% endblock hero %}

{% block main-content %}
<section class="pickup">
  <div class="pickup__header">
    <h2 class="main-title">Pick Up !</h2>
    <p class="sub-title pickup__sub-title">人気の記事をみてみよう</p>
  </div>

  <div class="pickup__inner">
    <div class="pickup__container">
      <!-- ここからdjangoでもらってきたデータを表示する -->
      {% for post in posts %}
        <div class="pickup__item">
          <div class="pickup__img">
            <img src="{% static 'images/image-p1.jpg' %}" alt="">
          </div>
          <div class="pickup__body">
            <p class="pickup__title">
              {{ post.title }}
            </p>
            <div class="pickup__text">
              <p>Author: {{ post.author }}</p>
              <p>ID: {{ post.author_id }}</p>
              <p style="text-align: right;">{{ post.date_posted|date:"F j, Y" }}</p>
              <p class="pickup__content">{{ post.content|truncatechars:55 }}</p>
            </div>
          </div>
        </div>
        {% empty %}
            <p>No posts yet.</p>
        {% endfor %}
      </div>
      <div class="pickup__btn">
        <button class="btn filled">
          投稿一覧を見る
        </button>
      </div>
  </div>

  <a href="{% url 'MyApp:talk' %}"><button>talk</button></a>
  <a href="{% url 'MyApp:post' %}"><button>post</button></a>
  <a href="{% url 'MyApp:myPage' %}"><button>myPage</button></a>
  <a href="{% url 'MyApp:logout' %}"><button>logout</button></a>
</section>
{% endblock %}