<!DOCTYPE html>
{% load static %} 
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link
  href="https://fonts.googleapis.com/css2?family=Kameron:wght@400;700&family=Noto+Sans+JP:wght@500&display=swap"
  rel="stylesheet"
  />
  <link rel="stylesheet" href="{% static 'styles/vendors/css-reset.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/loader.css' %}">
  <link rel="stylesheet" href="{% static 'styles/loginStyle.css' %}">
  <link rel="stylesheet" href="{% static 'styles/vendors/particles.css' %}">
  <script src="{% static 'scripts/vendors/pace.js' %}"></script>
</head>
<body>
  <div id="global-container">
    <div id="particles-js"></div>
    <div id="wrapper">
      <div id="content">
        <div id="main-content">
          <main>
            <section class="picktop">
              <div class="picktop__inner">

                <div class="modal-wrapper">
                  <div class="modal">
                    <button class="close-button">&times;</button>
                    <h2>アカウント登録</h2>
                    <form>
                      <div class="form-group">
                        <label for="name">名前</label>
                        <input type="text" id="name" required>
                      </div>
                      <div class="form-group">
                        <label for="email">メールアドレス</label>
                        <input type="email" id="email" required>
                      </div>
                      <div class="form-group">
                        <label for="password">パスワード</label>
                        <input type="password" id="password" required>
                      </div>
                      <button class="submit-button">アカウントを作成</button>
                    </form>
                  </div>
                </div>
                
                <div class="picktop__container">
                  <div class="picktop__body">
                    <div class="logo picktop__logo">
                      <img src="" class="img__logo" alt="">
                      <span class="logo__My">My</span>
                      <span class="logo__Code">Code</span>
                    </div>
                    <p class="picktop__subtitle ">ポートフォリオ共有アプリ</p>
                    
                    <div class="picktop__description">
                      <p>　このアプリは、クリエイティブな人々が自分の作品を共有し、新しい仕事やビジネス機会を見つけるためのプラットフォームです。<br>　このアプリでは、あなたのポートフォリオをアップロードし、他のユーザーに公開することができます。また、他のユーザーのポートフォリオを閲覧し、いいねを押せます。
                        ポートフォリオ共有アプリでは、さまざまなカテゴリーに分類されたポートフォリオを検索することができます。また、ユーザーの評価や人気度によってポートフォリオを並び替えることもできます。
                        ポートフォリオ共有アプリは、創造的な人々が自分の仕事を広めるために必要なツールを提供します。あなたの作品を共有し、新しい仕事やビジネス機会を見つけるために、ぜひこのアプリをご利用ください。
                      </p>                    
                    </div>
                  </div>
                  <div class="picktop__form">
                    <h2 class="picktop__titile">ログイン</h2>
                    <form method="post">
                      {% csrf_token %}
                      <p>
                        <input type="text" class="picktop__p" placeholder="ユーザー名" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">
                      </p>
                      <p>
                        <input type="password" class="picktop__p pas" placeholder="パスワード" name="password" autocomplete="current-password" required="" id="id_password">
                      </p>
                      <button type="submit" class="picktop__btn">ログイン</button>
                    </form>
                    <hr class="picktop__hr">
                    <button class="picktop__btn2"><a>新しいアカウントを作成</a></button>
                  </div>
                </div>
              </div>
            </section>
          </main>
        </div>
      </div>
      
      <div class="login-footer">

      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <script src="{% static 'scripts//vendors/particles.js' %}"></script>
  <script src="{% static 'scripts/login.js' %}"></script>
</body>
</html>