{% extends 'base.html' %}
{% load static %}
{% block main-content %}
<section class="mypage">
    <div class="mypage__header">
        <h2 class="main-title">Profile</h2>
        <p class="sub-title pickup__sub-title">プロフィールをみてみよう</p>
    </div>

    <div class="mypage__inner">
        <!-- @ .flex3を継承する -->
        <div class="mypage__container">
            <!-- flex-direction:column -->
            <div class="mypage__left">
                <div class="mypage__profile">
                    <h2 class="mypage__name">{{user}}のプロフィール</h2>
                    <div class="mypage__imgcontainer">
                        <img src="{% static 'images/image-p1.jpg' %}" class="mypage__img" alt="">
                    </div>
                    <button class="mypage__setting"><a href="{% url 'MyApp:myPage_update' pk=profiles.pk %}">プロフィールの編集</a></button>
                </div>
                <div class="mypage__add-profile">
                    <p>つぶやき数：2</p>
                    <p>投稿数：2</p>
                </div>
            </div>
            <div class="mypage__right">
                <div class="mypage__profile-card">
                    <p>名前：{{ profiles.user }}</p>
                    <p class="mypage__introduction">自己紹介</p>
                    <p>{{ profiles.bio }}</p>
                    <p>年齢：{{ profiles.age }}</p>
                    <p>性別：{{ profiles.gender }}</p>
                    <p>大学：{{ profiles.university }}</p>
                    <p>SNSアカウント：{{ profiles.sns_account }}</p>
                    <p>趣味：{{ profiles.hobby }}</p>
                    <p>利用できる言語：{{ profiles.language }}</p>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="mypost">
    <div class="mypost__header">
        <h2 class="main-title">User's Post</h2>
        <p class="sub-title pickup__sub-title mypost__sub-title">{{user}}の投稿をみてみよう</p>
    </div>

    <div class="mypost__inner">
        <div class="mypost__container">
            {% for post in posts %}
                <div class="mypost__usercontainer">
                    <div class="mypost__userimgcontainer">
                        <img src="{{ post.image.url }}" alt="" class="mypost__img">
                    </div>
                    <div class="mypost__userbody-operation">
                        <div class="mypost__userbody">
                            <p class="mypost__usertitle">{{ post.title }}</p>
                            <p>{{ post.category }}</p>
                            <p class="mypost__usercontent">{{ post.content }}</p>
                        </div>
                        <div class="mypost__operation">
                            <div class="mypost__good">
                                {% if is_user_liked_for_post %}
                                <button type="button" id="ajax-like-for-post" style="border:none;background:none">
                                <!-- すでにイイねしている時はfasクラス -->
                                <i class="fas fa-heart text-danger" id="like-for-post-icon"></i>
                                </button>
                                {% else %}
                                <button type="button" id="ajax-like-for-post" style="border:none;background:none">
                                <!-- イイねしていないときはfarクラス -->
                                <i class="far fa-heart text-danger" id="like-for-post-icon"></i>
                                </button>
                                {% endif %}
                                <!-- イイねの数 -->
                                <span id="postlike_count">{{ postlike_count }}</span>
                                <span>いいね</span>
                            </div>
            
                            <div class="mypost__watch">
                                <i class="fas fa-eye"></i>
                                <span>{{post.views}}</span>
                                <span>閲覧</span>
                            </div>
                            <button class="mypost__btn"><a href="{% url 'MyApp:post_detail' pk=post.pk %}" class="mypost__a">詳細を見る</a></button>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- <script>
    async function limitTextByBytes(text, maxBytes) {
        const encoder = new TextEncoder();
        const encoded = encoder.encode(text);
      
        if (encoded.byteLength > maxBytes) {
          const truncated = encoded.slice(0, maxBytes);
          const decoder = new TextDecoder();
          let lastByte = truncated[truncated.length - 1];
          let charsToRemove = 0;
          while ((lastByte & 0xC0) === 0x80) {
            charsToRemove++;
            lastByte = truncated[truncated.length - 1 - charsToRemove];
          }
          const finalBytes = truncated.slice(0, truncated.length - charsToRemove);
          let ans = decoder.decode(finalBytes);
          ans = ans.slice(0,ans.length-1);
          ans += "..."
          return ans;
        } else {
          return text;
        }
      }
      // post.html ウィンドウサイズに応じて表示する文字数を制限する
      if (window.location.href.indexOf("{% url 'MyApp:myPage' pk=profiles.pk %}") > -1) {
        async function onResize(){
          $.ajax({
            url: '/myPage/json',
            type: 'GET',
            dataType: "json",
            success:async function(data){
              const content = document.querySelectorAll(".mypost__usercontent");
              let cachedDate = data;
              console.log(cachedDate);
              let reversedcachedDate = [];
              for (let i = cachedDate.length -1; i >= 0; i--){
                reversedcachedDate.push(cachedDate[i]);
              }
              
              for (var i = 0; i < data.length; i++) {
                let regularContent = ""
                let maxLength;
                let windowSize = window.innerWidth;
      
                if (windowSize >= 1475){
                  maxLength = 300;
                }else if (windowSize >= 1329){
                  maxLength = 200;
                }else if(windowSize >= 1280){
                  maxLength = 125;
                }else if(windowSize >= 960){
                  maxLength = 100;
                }else if(windowSize >=819){
                  maxLength = 600;
                }else if(windowSize >= 600){
                  maxLength = 300;
                }else{
                  maxLength = 200;
                }
                regularContent = await limitTextByBytes(reversedcachedDate[i].content,maxLength);
                content[i].innerText = regularContent;
              }
            }
          });
        }
        
        window.addEventListener('resize',onResize);
        onResize();
      }
</script> -->
{% endblock main-content %}