{% extends 'base2.html' %}
{% load static %}

{% block main-talk-post %}



<section class="pickpost">
    {% for post in posts %}
    <div class="pickpost__container">
        <div class="pickpost__imgcontainer">
            <img src="{{ post.image.url }}" class="pickpost__img" alt="post image">
        </div>
        <div class="pickpost__body">
            <div class="pickpost__author-data">
                <div class="round-image-container">
                    <img src="{% static 'images/image-p1.jpg' %}" class="pickpost__icon" alt="icon">
                </div>
                <div class="pickpost__author">
                    <p style="margin-right:5px;">{{ post.author }}</p>
                    <p>ID: {{ post.author_id }}</p>
                </div>
            </div>
            <p class="pickpost__data">{{ post.date_posted|date:"m/d/Y" }}</p>
            <p class="pickpost__content">{{ post.content }}</p>
            <div class="pickpost__operation">
                <div class="pickpost__good">
                    {% if is_user_liked_for_post %}
                    <button type="button" id="ajax-like-for-post" style="border:none;background:none">
                    <!-- すでにイイねしている時はfasクラス -->
                    <i class="fas fa-heart text-danger" id="like-for-post-icon"></i>
                    </button>
                    {% else %}
                    <button type="button" id="ajax-like-for-post" style="border:none;background:none">
                    <!-- イイねしていないときはfarクラス -->
                    <i class="far fa-heart text-danger" id="like-for-post-icon"></i>
                    </button>
                    {% endif %}
                    <!-- イイねの数 -->
                    <span id="postlike_count">{{ postlike_count }}</span>
                    <span>いいね</span>
                </div>

                <div class="pickpost__watch">
                    <i class="fas fa-eye"></i>
                    <span>{{post.views}}</span>
                    <span>閲覧</span>
                </div>
                <button class="pickpost__btn"><a href="{% url 'MyApp:post_detail' pk=post.pk %}" class="pickpost__a">詳細を見る</a></button>
            </div>
        </div>
    </div>
    {% empty %}
        <p>No posts yet.</p>
    {% endfor %}
</section>
{% endblock main-talk-post %}

{% block main-create %}
<a class="picktext__a" href="{% url 'MyApp:post_create' %}">新規投稿を作成</a>
{% endblock main-create %}

{% block main-create2 %}
<a class="picktext__a" href="{% url 'MyApp:post_create' %}"><span>+</span></a>
{% endblock main-create2 %}