{% extends 'base2.html' %}
{% load static %}

{% block main-talk-post %}
<section class="picktalk">
    {% for talk in talks %}
    <div class="picktalk__container">
        <div class="picktalk__header">
            <div class="round-image-container">
                <img src="{% static 'images/image-p1.jpg' %}" class="picktalk__img" alt="icon">
            </div>
            <div class="picktalk__author">
                <p style="margin-right: 10px;">{{ talk.author }}</p>
                <p class="picktalk__author"> ID: {{ talk.author_id }}</p>
            </div>
        </div>
        <p class="picktalk__data">{{ talk.date_posted|date:"F j, Y" }}</p>      
        <p class="picktalk__p">{{ talk.content }}</p>
    </div>
    {% empty %}
        <p>No posts yet.</p>
    {% endfor %}
</section>
{% endblock main-talk-post %}

{% block main-create %}
<a class="picktext__a" href="{% url 'MyApp:talk_create' %}">新規投稿を作成</a>
{% endblock main-create %}

{% block main-create2 %}
<a class="picktext__a" href="{% url 'MyApp:talk_create' %}"><span>+</span></a>
{% endblock main-create2 %}