@use "globals" as *;
@use "parts/common" as *;
@use 'parts/hero-slider' as *;
@use 'parts/mobile-menu' as *;

#container{
    position: relative;
    z-index: 10;
    background: white;
    transition: transform 0.5s , box-shadow 0.5s;
}

#main-content {
    position: relative;
    z-index: 0;
}

main {
    position: relative;
    z-index: -1;
}

// 要素を右寄せにする方法
.parent {
    text-align: right;
    letter-spacing: -6px;
  }
  .child {
      display: inline-block;
  }
//header
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $navHeight;
    background-color: $cHeader;
    display: flex;
    align-items: center;
    z-index: 100;
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.2);


    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @extend .content-width;
    }

    &__a{
        text-decoration: none;
        color: $cBlack;
    }

    &__My{
        margin-right: -10px
    }

    &__nav{
        @extend .flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;

        display: none;
        @include mq(lg){
            display: block;
        }
    }

    &__ul{
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
    }

    &__li{
        margin: 10px;
        
        @include mq(md){
            margin-left: 0;
            margin-right: 30px;
        }

        & > a{
            color: $cSubTitle;
            text-decoration: none;
            &.a-justify{
                color: $cWhite;
                &:hover{
                    color: $cBlack;
                }
            }
        }
    }

    & .logo{
        font-size: 30px;
        justify-content: center;
        @include mq(md){
            font-size: 42px;
            justify-content: flex-start;
        }
    }
}
//header

// btn
.btn{
    background-color: $cWhite;
    color: $cBlack;
    border: 2px solid $cBlack;
    margin: 50px 0;
    padding: 10px 40px 10px 40px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.5s;
}

.filled {
    background-color: $cBlack;
    color: $cWhite;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);

    &:hover {
      background-color: $cWhite;
      color: $cBlack;
      box-shadow: none;
    }
}

.letter-spacing:hover {
    background-color: $cBlack;
    letter-spacing: 3px;
    color: $cWhite;
}

.shadow {
    box-shadow: none;

    &:hover {
      transform: translate(-2.5px, -2.5px);
      box-shadow: 5px 5px 0 0 $cBlack;
    }
}

.solid {
    box-shadow: 2px 2px 0 0 $cBlack;
    border-radius: 7px;

    &:hover {
      transform: translate(2px, 2px);
      box-shadow: none;
    }
}

// btn

// pick up
.pickup{
    
    margin-top: 70px;
    margin-bottom: 50px !important;

    @include mq(xl){
        width: 100%;
    }

    
    &__header{
        @extend .content-width;
    }

    &__sub-title{
        margin-bottom: 20px !important;
    }

    &__inner{
        position: relative;
        &::before{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            padding-top: 20px;
            background-color: $cBgGray;
            @include mq(lg){
                height: 105%;
            }
        }
    }

    &__container{
        position: relative;
        @extend .flex;
        @extend .content-width;
        justify-content:space-around;
        z-index: 2;
    }

    &__item{
        margin-top: 20px;
        @include mq(sm){
            flex-basis: 30%;
        }         
        @include mq(lg){
            flex-basis: 25%;
        }
    }

    &__body{
        background-color: $cWhite;
        padding: 10px;
    }

    &__content{
        @extend .mb-sm;
    }

    &__text{
        @extend .font-sm;
    }

    &__img{
        width: 200px;
        height: 200px;
        margin: 0 auto;

        @include mq(xl){
            width: 250px;
            height: 250px;
        }
        @include mq(md){
            width: 260px;
            height: 260px;
        }
        @include mq(sm){
            width: 260px;
            height: 260px;
        }

        & > img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__btn{
        position: relative;
        text-align: center;
        flex-basis: 100%;
        z-index: 2;
    }
}
// pick up

// footer
.footer{
    padding: 60px 0 30px 0;
    @extend .content-width;

    &__nav{
        @extend .flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    &__ul{
        @extend .flex;
        list-style: none;
        padding: 0;
    }

    &__li{
        margin: 10px;
        
        @include mq(md){
            margin-left: 0;
            margin-right: 30px;
        }

        & > a{
            color: $cSubTitle;
            text-decoration: none;
        }
    }

    & > .logo{
        justify-content: center;
        font-size: 38px;
        @include mq(md){
            justify-content: flex-start;
        }
    }
}
// footer

//logo
.logo{
    font-size: 42px;
    display: flex;

    &__img{
        width: 0.7em;
    }

    &__Code{
        color: $cWineRed;
    }
}
//logo

.picktext{
    &__all{
        position: relative;
        padding-top: $navHeight;
        @extend .content-width2;
        box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2);
    }

    
    &__header{
        position: fixed;
        width: 50%;
        z-index: 1;
        background-color: $cWhite;
        height: 100px;
        border: 0.2px solid rgba(0, 0, 0, 0.0);
    }

    &__inner{
        position: relative;
        background-color: $cBgGray;
        margin-top: 100px;
    }

    &__search{
        display: block;
        margin: 0 auto;
        border: 0.5px solid rgba(0, 0, 0, 0.5);
        border-radius: 7%;
        margin-top: 20px;
        background-color: $cHeader;
    }

    &__ul{
        @extend .flex2;
        list-style: none;
        justify-content: space-around;
        padding-left: 0 !important;
        @include mq(sm){
            padding-left: 40px !important;
        }
    }

    &__li{
        margin-top: 10px;
        margin-left: 0;
        margin-right: 30px;
    }
    
    &__container{
        padding: 30px;
        padding-bottom: 10px;
    }

    &__create{
        position: fixed;
        bottom: 20%;
        right: 10%;

        @include mq(lg){
            bottom: 15%;
            right: 3%;
        }
        @include mq(xl){
            bottom: 15%;
            right: 5%;
        }
    }

    &__btn{
        background-color: #37d549;
        color: $cWhite;
        padding: 30px;
        font-size: 20px;
        font-weight: 50;
        cursor: pointer;
        border: none;
        border-radius: 5%;
        transition: transform 0.5s;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
        display: none;

        @include mq(lg){
            padding: 20px;
            font-weight: 300;
            display: inline;
        }
        @include mq(xl){
            padding: 25px;
            font-weight: 600;
            display: inline;
        }
        &:hover{
            transform: scale(1.1);
        }
    }

    &__add{
        display: inline;
        background-color: #37d549;
        color: $cWhite;
        padding: 10px;
        font-size: 30px;
        font-weight: 600;
        cursor: pointer;
        border: none;
        border-radius: 50%;
        transition: transform 0.5s;
        box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);

        @include mq(md){
            
        }
        @include mq(lg){
            display: none;
        }
        @include mq(xl){
            display: none;
        }
        &:hover{
            transform: scale(1.1);
        }
    }
    & a{
        text-decoration: none;
        color: $cWhite;
    }
}

// picktalk
.picktalk{
    &__container{
        position: relative;
        background-color: white;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.2);
    }

    &__header{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 20px;
        & .round-image-container{
            display: inline-block;
            position: relative;
            width: 40px;
            height: 40px;
            margin-right: 10px;
            @include mq(lg){
                width: 70px;
                height: 70px;
                margin-right: 20px;
            }
            overflow: hidden;
            border-radius: 50%;
        }
    }
    
    &__img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;
    }

    &__author{
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 10px;
        @include mq(lg){
            font-size: 14px;
        }
    }
    
    &__data{
        position: absolute;
        top: 28px;
        font-size: 10px;
        @include mq(lg){
            top: 43px;
            font-size: 14px;
        }
        right: 5%;
    }

    &__p{
        font-size: 10px;
        @include mq(lg){
            font-size: 14px;
        }
    }
}
// picktalk

// mypage
.mypage{
    margin-top: 100px;
    margin-bottom: 50px !important;
    &__header{
        @extend .content-width;
    }

    &__inner{

    }

    &__container{

    }

    &__left{

    }

    &__name{

    }

    &__setting{

    }

    &__right{

    }

}
// mypage